tensorflow
tensorflow-datasets
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
tensorflow-metadata
tensorflow-probability
Flask==2.1.2
Flask_Cors==3.0.10
joblib==1.2.0
keras
matplotlib
mlxtend==0.22.0
numpy
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.68
pandas
Pillow==9.4.0
scikit_learn
seaborn==0.12.2