Flask==2.1.2
Flask_Cors==3.0.10
joblib==1.2.0
keras==2.13.1
matplotlib==3.7.1
mlxtend==0.22.0
numpy==1.23.5
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.68
pandas
Pillow==9.4.0
scikit_learn
seaborn==0.12.2
librosa
nolds
pyrpde
gunicorn==20.1.0